* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  padding: 20px 80px;
}

#header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .wrapper .logo h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8cc5f9;
  margin-left: 5px;
}

#header .wrapper .sub-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .wrapper .sub-nav ul li {
  padding-right: 30px;
}

#header .wrapper .sub-nav ul li a {
  color: black;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
}

#header .wrapper .language span {
  color: #ccc;
  margin-right: 5px;
}

#header .wrapper .language img {
  margin-right: 5px;
}

#header .wrapper .language i {
  color: #ccc;
}

.content {
  margin-bottom: 200px;
}

.content .module-1 {
  padding: 50px 150px;
}

.content .module-1 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content .module-1 .wrapper .about-left {
  padding: 40px;
}

.content .module-1 .wrapper .about-left h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  color: #8cc5f9;
  margin-bottom: 20px;
}

.content .module-1 .wrapper .about-left .desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 640px;
}

.content .module-1 .wrapper .about-right .thumb {
  margin-top: 120px;
  width: 353px;
  height: 320px;
}

.content .module-1 .wrapper .about-right .thumb img {
  width: 100%;
  height: 100%;
}

.content .module-3 {
  padding: 50px 150px;
  margin-top: 50px;
}

.content .module-3 .wrapper .row h1 {
  color: #000;
  font-weight: 500;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
}

.content .module-3 .wrapper .row .sub ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .module-3 .wrapper .row .sub ul li {
  padding: 20px;
}

.content .module-3 .wrapper .row .sub ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.content .module-3 .wrapper .row .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.content .module-3 .wrapper .row .list .item {
  border: 1px solid lightblue;
  padding: 20px 20px;
}

.content .module-3 .wrapper .row .list .item .thumb {
  width: 65px;
  height: 65px;
  margin: auto;
}

.content .module-3 .wrapper .row .list .item .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.content .module-3 .wrapper .row .list .item h2 {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
  font-size: 22px;
  font-weight: 700;
  color: #8cc5f9;
}

.content .module-3 .wrapper .row .list .item h5 {
  margin-top: 10px;
  color: #bdbdbd;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.content .module-3 .wrapper .row .list .item h6 {
  margin-top: 30px;
  color: #bdbdbd;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.content .module-3 .wrapper h3 {
  text-align: center;
  margin-top: 50px;
  color: #bdbdbd;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.content .module-4 {
  background: #fbfbfb;
}

.content .module-4 .container {
  padding: 170px 150px;
}

.content .module-4 .container .para {
  font-style: italic;
  line-height: 39px;
  color: #4f4f4f;
  font-weight: 400;
  font-size: 39px;
}

.content .module-4 .container h5 {
  float: right;
  font-weight: 400;
  font-size: 18px;
  color: #bdbdbd;
}

.content .module-5 .container {
  padding: 50px 150px;
}

.content .module-5 .container .title {
  text-align: center;
}

.content .module-5 .container .row {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .module-5 .container .row .desc {
  padding-left: 30px;
}

.content .module-5 .container .row .desc h1 {
  color: #8cc5f9;
  font-weight: 800;
  font-size: 50px;
}

.content .module-5 .container .row .desc p {
  font-size: 30px;
}

.footer {
  position: relative;
}

.footer .module-6 {
  padding: 50px 150px;
  position: absolute;
  top: -108px;
  left: 90px;
  background: #d0dee7;
}

.footer .module-6 .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .module-6 .container .row .col:nth-child(2) {
  width: 420px;
}

.footer .module-6 .container .row .col:nth-child(2) h1 {
  font-weight: 500;
  font-size: 40px;
  color: #0b132a;
}

.footer .module-6 .container .row .col:nth-child(2) p {
  font-size: 16px;
  -webkit-columns: #4f5665;
          columns: #4f5665;
}

.footer .module-6 .container .row .col:nth-child(3) button {
  padding: 17px 90px;
  background: #8cc5f9;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  color: #fbfbfb;
}

.footer .module-7 {
  top: 30px;
  background: #f8f8f8;
  height: 500px;
}

.footer .module-7 .container {
  padding: 150px 150px;
}

.footer .module-7 .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .module-7 .container .row .col-1 {
  width: 400px;
}

.footer .module-7 .container .row .col-1 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .module-7 .container .row .col-1 .logo img {
  width: 56px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer .module-7 .container .row .col-1 .logo h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 22px;
  color: #8cc5f9;
  line-height: 30px;
}

.footer .module-7 .container .row .col-1 p {
  font-weight: 400;
  font-size: 18px;
  color: #bdbdbd;
  margin-top: 20px;
}

.footer .module-7 .container .row .col-1 .social {
  margin-top: 15px;
}

.footer .module-7 .container .row .col-1 .social i {
  color: #8cc5f9;
  background: #f8f8f8;
  margin-right: 5px;
}

.footer .module-7 .container .row .col .list h1 {
  font-size: 18px;
  line-height: 20px;
  color: #0B132A;
  margin-bottom: 30px;
}

.footer .module-7 .container .row .col .list ul li {
  margin-bottom: 8px;
}

.footer .module-7 .container .row .col .list ul li a {
  font-size: 16px;
  color: #4f4f4f;
}
/*# sourceMappingURL=style.css.map */